#header-nav{
    background-color: aqua;
    border-radius:0;
    border: 0;
}
#body-color{
    background-color: brown;
}
#logo-img{
    /*background:;*/
    background-color: blue;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}
.pull-left{
    float: left;
}