*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
body{
    background: url("pictures/2021\ field.png") no-repeat top center;
}
#box{
    background-color: blue;
    padding: 10px;
    border: 5px solid black;
    margin-right: 40px;
    width: 50%;
    height: 100px;
    overflow:scroll;
}
#content{
    background-color: green;
}